* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template:
    [row1-start] "header header" 2fr [row1-end]
    [row2-start] "sidebar nav" 1fr [row2-end]
    [row3-start] "sidebar article" auto [row3-end]
    [row4-start] "footer footer" 1fr [row4-end]
    / 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template:
    [header-start] "logo menu" auto [header-end]
    / 1fr 4fr
}

.logo {
  grid-area: logo;
}

.menu {
  grid-area: menu;
}

.menu > ul {
  display: grid;
  grid-template: auto / repeat(4, 1fr)
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav > ul {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card {
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}